<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
  </head>
  <body>
    <header class="container text-center">
      <h1>Universidad Javeriana</h1>
      <h4>Especialización en arquitectura empresarial de software</h4>
      <h4>Proyecto final - Nuevas Tecnologías para arquitectura</h4>
    </header>
    <section class="container">
      <h5>Integrantes</h5>
      <ol>
        <li> Oscar Beltrán</li>
        <li> Oscar Nope </li>
        <li> Jonathan Sanchez</li>
        <li> Cristian Rodriguez</li>
      </ol>
    </section>
  </body>
</html>
